In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("QueryResults.csv")

In [3]:
df.head(5)

                     m     TagName  Unnamed: 2
0  2008-07-01 00:00:00          c#           3
1  2008-08-01 00:00:00    assembly           8
2  2008-08-01 00:00:00  javascript         162
3  2008-08-01 00:00:00           c          85
4  2008-08-01 00:00:00      python         124

In [4]:
df = df.rename(columns={"m": "DATE", "TagName": "TAG", "Unnamed: 2": "POSTS"})

In [5]:
df.head(5)

                  DATE         TAG  POSTS
0  2008-07-01 00:00:00          c#      3
1  2008-08-01 00:00:00    assembly      8
2  2008-08-01 00:00:00  javascript    162
3  2008-08-01 00:00:00           c     85
4  2008-08-01 00:00:00      python    124

In [6]:
df.groupby("TAG").count()

            DATE  POSTS
TAG
assembly     144    144
c            144    144
c#           145    145
c++          144    144
delphi       144    144
go           129    129
java         144    144
javascript   144    144
perl         144    144
php          144    144
python       144    144
r            142    142
ruby         144    144
swift        135    135

In [7]:
df.count()

DATE     1991
TAG      1991
POSTS    1991
dtype: int64

In [8]:
index = df["POSTS"].max()

In [9]:
index

34478

In [10]:
df.groupby("TAG").sum()

              POSTS
TAG
assembly      34852
c            336042
c#          1423530
c++          684210
delphi        46212
go            47499
java        1696403
javascript  2056510
perl          65286
php         1361988
python      1496210
r            356799
ruby         214582
swift        273055

In [11]:
x = df.groupby("TAG").sum()

In [12]:
x["POSTS"].idxmax()

'javascript'

In [13]:
df.head()

                  DATE         TAG  POSTS
0  2008-07-01 00:00:00          c#      3
1  2008-08-01 00:00:00    assembly      8
2  2008-08-01 00:00:00  javascript    162
3  2008-08-01 00:00:00           c     85
4  2008-08-01 00:00:00      python    124

In [14]:
df["DATE"]

0       2008-07-01 00:00:00
1       2008-08-01 00:00:00
2       2008-08-01 00:00:00
3       2008-08-01 00:00:00
4       2008-08-01 00:00:00
               ...
1986    2020-07-01 00:00:00
1987    2020-07-01 00:00:00
1988    2020-07-01 00:00:00
1989    2020-07-01 00:00:00
1990    2020-07-01 00:00:00
Name: DATE, Length: 1991, dtype: object

In [15]:
df.head()

                  DATE         TAG  POSTS
0  2008-07-01 00:00:00          c#      3
1  2008-08-01 00:00:00    assembly      8
2  2008-08-01 00:00:00  javascript    162
3  2008-08-01 00:00:00           c     85
4  2008-08-01 00:00:00      python    124

In [16]:
df["DATE"]

0       2008-07-01 00:00:00
1       2008-08-01 00:00:00
2       2008-08-01 00:00:00
3       2008-08-01 00:00:00
4       2008-08-01 00:00:00
               ...
1986    2020-07-01 00:00:00
1987    2020-07-01 00:00:00
1988    2020-07-01 00:00:00
1989    2020-07-01 00:00:00
1990    2020-07-01 00:00:00
Name: DATE, Length: 1991, dtype: object

In [17]:
df["DATE"][0]

'2008-07-01 00:00:00'

In [18]:
df.DATE[0]

'2008-07-01 00:00:00'

In [19]:
type(df["DATE"][1])

str

In [20]:
pd.to_datetime(df["DATE"][1])

Timestamp('2008-08-01 00:00:00')

In [21]:
type(pd.to_datetime(df["DATE"][1]))

pandas._libs.tslibs.timestamps.Timestamp

In [22]:
df["DATE"] = pd.to_datetime(df["DATE"])

In [23]:
df.head()

        DATE         TAG  POSTS
0 2008-07-01          c#      3
1 2008-08-01    assembly      8
2 2008-08-01  javascript    162
3 2008-08-01           c     85
4 2008-08-01      python    124